* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c6c9ca;
}

.container form {
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  gap: 10px;
  background-color: #1065ef;
}
